@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper our-leadership">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("~/Views/Partials/Listings/Leadership-Staff.cshtml")
    @Html.Partial("~/Views/Partials/Listings/Leadership-Messages.cshtml")
    @Html.Partial("Widget-Related-Articles");
</main>
