@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("~/Views/Partials/Widget-CP-CentredContent.cshtml")
    @Html.Partial("Widget-Three-Column-Services")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("Widget-50-50-Right")
    @Html.Partial("Widget-Team-Profile")
    @Html.Partial("Widget-Four-Column")
    @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
</main>