@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper organisation-page">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
    @Html.Partial("Widget-Feature-Promo")
    @Html.Partial("Widget-Related-Articles")
</main>
