@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models;
@{
	Layout = "MasterPage.cshtml";
	var arContent = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("annualreport")
	.Where(a => a.Value<String>("rpt_annual_reportType") == "ANMF Annual Reports")
    .Select(a => new
    {
        reportId = a.Id,
        reportTitle = a.Value<String>("rpt_annual_title"),
        reportYearEnding = a.Value<String>("rpt_annual_yearEnding"),
        reportDesc = a.Value<String>("rpt_annual_description"),
        reportPhoto = a.Value<IPublishedContent>("rpt_annual_image")?.Url ?? "",
        reportDate = a.Value<String>("rpt_annual_dateOfPublication"),
        reportURL = a.Value<Link>("rpt_annual_document")?.Url ?? "",
        reportlinkName = a.Value<Link>("rpt_annual_document")?.Name ?? "",
    }).ToList();
}
<main class="page-wrapper annual-report">
    @Html.Partial("Widget-CP-Hero")
    @if(arContent != null)
    {
    <section id="our-members" class="uk-position-relative bg--white">
        <div class="uk-container">
            <div class="our-members__holder uk-grid" uk-grid="">
                @foreach(var ar in arContent.OrderByDescending(a => a.reportDate))
                {
                    <div class="uk-width-1-2@m uk-width-1-1 uk-first-column">
                        <figure class="our-members__holder-image uk-position-relative image--bg image--bg-dblue">
                            <img src="@ar.reportPhoto" alt="Our Members">
                        </figure>
                    </div>
                
                    <div class="uk-width-1-2@m uk-width-1-1">
                        <div class=" uk-position-relative">
                            <h2 class="primary--heading f--bold">@ar.reportTitle
                                <span class="primary--subheading uk-text-uppercase text--blue f--bold">@ar.reportYearEnding</span>
                            </h2>
                            <div class="f--14 text--gray"><p>
                                @Html.Raw(ar.reportDesc)
                            </p></div>
                                <a href="@ar.reportURL" class="primary--cta_text">View report</a>
                        </div>
                    </div>
                    break;
                }
            </div>
        </div>
    </section>
    }
    @Html.Partial("/Views/Partials/Listings/Annual-Reports.cshtml")
</main>

