@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper homepage">
    <!-- HERO -->
        @Html.Partial("Widget-Hero")
        @Html.Partial("~/Views/Partials/Widgets/HP-CenteredContent.cshtml")
        @Html.Partial("~/Views/Partials/Listings/Branches.cshtml")
        @Html.Partial("~/Views/Partials/Listings/Leadership-Messages.cshtml")
        @Html.Partial("/Views/Partials/Listings/LatestMediaCampaigns.cshtml")
        @Html.Partial("/Views/Partials/Widgets/Latest-Publications.cshtml")
</main>