@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper homepage">
    <!-- HERO -->
        @Html.Partial("Widget-Hero")
        @Html.Partial("HP-CenteredContent")
        @Html.Partial("Widget-Branches")
        
        @Html.Partial("leadershipMembers")
        @Html.Partial("CampaignTabSelector")
        @Html.Partial("NewsGlobal")
</main>