@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper industrial">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("Widget-Four-Column")
    @Html.Partial("Widget-50-50-Right")
    @Html.Partial("/Views/Partials/Listings/Industrial-Staff-Vertical.cshtml")
    @Html.Partial("/Views/Partials/Listings/Related-Articles.cshtml")
</main>
