@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper industrial-team">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("~/Views/Partials/Listings/Industrial-Staff.cshtml")
    @Html.Partial("Widget-CTA")
    @Html.Partial("/Views/Partials/Listings/Related-Articles.cshtml")
</main>