@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-50-50-Left")
    @Html.Partial("Widget-Team-Profile")
    @Html.Partial("Widget-Four-Column")
    @Html.Partial("Widget-Related-Articles");
</main>
