@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
	Layout = null;
    var homepage = Model.AncestorOrSelf<Home>();
}


<html>

<head>
    @{
    Html.RequiresCss("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", new
    {
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous"
    });
    }

    @{
    Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
    }

    @{
    Html.RequiresJs("https://code.jquery.com/jquery-3.2.1.slim.min.js", new
    {
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
    crossorigin="anonymous"
    });
    }

    @{
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", new
    {
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
    crossorigin="anonymous"
    });
    }

    @{
    Html.RequiresJs("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", new
    {
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    crossorigin="anonymous"
    });
    }

    @{
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js");
    }

    @Html.RenderCssHere()
</head>

<body>

    
    @Html.Partial("NavBar")

    @RenderBody()

    @Html.RenderJsHere()
    
    <footer class="bg-primary navbar-dark"  style="color:white;">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    
                    <ul class="list-inline-item">
                        <li>Copyright &copy; @DateTime.Now.Year Australian Nursing & Midwifery Federation</li>
                        <a href="#" style="color:white;">Privacy Policy</a> | 
                        <a href="#" style="color:white;">Site Map</a>
                    </ul>

                    
                </div>
            </div>
            
        </div>
    </footer>
</body>
</html>