@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
	Layout = null;
    var homepage = Model.AncestorOrSelf<Home>();
}


<html>

<head>
    @{ Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"); }
    @{ Html.RequiresCss("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"); }
    @{ Html.RequiresJs("https://code.jquery.com/jquery-3.2.1.slim.min.js", new {
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
        crossorigin="anonymous"
        });
    }
    @{ Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", new {
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
        crossorigin="anonymous"
        });
    }
    @{ Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"); }

    @Html.RenderCssHere()
    @Html.RenderJsHere()
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/css/global.css' />
    <link rel="stylesheet" href='/css/uikit.min.css'/>
</head>

<body>
    @Html.Partial("Global-Navigation")
    @RenderBody()
    @Html.Partial("Global-Footer")
</body>
</html>