@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterPage.cshtml";
}

<main class="page-wrapper about-us">
    @Html.Partial("Widget-CP-Hero")
    @Html.Partial("Widget-CP-CentredContent")
    @Html.Partial("Widget-Three-Column-Services")
    @Html.Partial("Widget-Team-Profile")
    <section>Professional Issues to be inserted</section>
    @Html.Partial("Widget-Related-Articles");
</main>

